.body{
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

.row-content{
    padding-top: 30px;
    font-size: 30px;
}